<div class="container home-heading d-flex flex-column align-items-center justify-content-center text-center"">
  <h1 id="home"> The Un-lonely Project </h1>
  <h2 id="home-body"> By the Zulu Scribe </h2>
  <% if user_signed_in? %>
    <%= link_to "Get Unlonely",
      journals_path,
      id: "get-unlonely-button",
      style: "display: inline-block;" %>
  </div>
  <% else  %>
  <%= link_to "The origin story",
      originstory_path,
      id: "get-unlonely-button",
      style: "display: inline-block;" %>
<% end %>
