<div class="container" id="journal-heading">
  <h1> Week 1 Hello Strangers </h1>
</div>
<% @journals.each do |journal| %>
  <div class="text-container">
    <p> <%= journal.prompt %></p>
    <div id="journal-content">
      <%= simple_form_for(journal) do |j| %>
        <%= j.input :content, input_html: {class:"text-area"} %>
        <%= j.submit "Write", class:"journal-button" %>
      <% end %>
    </div>
  </div>
<% end %>
