<div class="container" id="journal-heading">
  <h1> Week 1 Hello Strangers </h1>
</div>
<% @ordered_journals.each do |journal| %>
  <div class="text-container">
    <p> <%= journal.prompt %></p>
    <button class="toggle-form-button journal-button margin-top"> Write </button>
      <div id="journal-form-container" style="display: none;">
        <%= simple_form_for(journal) do |j| %>
          <%= j.input :content, label: false, input_html: { class: 'form-control text-area', style: 'margin: 20px 0; padding: 10px; border: 4px solid black; border-radius: 10px;' }   %>
          <%= j.submit "Save", class:"journal-button", id:"toggle-journal-form" %>
        <% end %>
      </div>
    </div>
  <% end %>
