<body>
  <div class="container" id="journal-heading">
    <h1> Week 1 Hello Strangers </h1>
  </div>
  <div class="text-container">
    <p> <%= @journal.prompt %></p>
    <button class="journal-button"> Write </button>
  </div>
</body>
