input[type="checkbox"].check-box {
  all: unset;
  display: inline-grid;
  width: 1em;
  height: 1em;
  cursor: pointer;
  border: 4px solid #333;
  border-radius: 0.2em;
  place-content: center;
  margin: 4px;
}

input[type="checkbox"].check-box::before {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
  background-color: currentColor;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
}

input[type="checkbox"].check-box:checked::before {
  transform: scale(1);
  background-color: black;
}

.day-checklist label {
  font-weight: normal;
}
