#journal-heading {
  h1 {
    font-size: 5.5rem;
    font-weight: 600;
  }
}

.text-container {
  font-size:larger;
  background-color: white;
  color: black;
  border-radius: 12px;
  margin: 2rem;
  padding: 2rem;
}

.journal-button {
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 6px;
  display: block;
  font-size: larger;
  margin: auto;
}
