#journal-heading {
  h1 {
    font-size: 5.5rem;
    font-weight: 600;
    margin: 0;
  }
}

#journal-heading {
  text-align: center;
}
.text-container {
  font-size:larger;
  background-color: white;
  color: black;
  border-radius: 12px;
  margin: 2rem;
  padding: 2rem;
}

.journal-button {
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 6px;
  display: block;
  font-size: larger;
  margin: auto;
   padding: 5px 10px;

}

.week-navigation {
  padding: 20px;
  padding-left: 0;
  margin-left: 0;
  width:fit-content;
  display: flex;
  gap: 15px;

  gap: 10px;
  a {
   text-decoration: none;
  }
}

