.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .button-navbar {
//   // background-color: black;
//   color: white;
//   font-size: 1.25rem;
//   text-align: center;
//   border-radius: 0.25rem;
//   padding
// }
