.sign-in {
  background-color: white;
  color: black;
  padding: 27px;
  font-weight: 500;
   margin-top: 1rem !important;
}

.log-in {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 15px;
  padding: 10px;
}

.log-in img {
  border-radius: 50%;
  height: 150px;
  margin-top: 10px;
  display: block;
}

.log-in h1 {
  font-weight: 800;
  font-size: 80px;
}

.sign-in .journal-button {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
}
