.sign-in {
  background-color: white;
  border: 3px solid red;
  color: black;
  padding: 27px;
  font-weight: 500;
}

.log-in {
  border: 3px solid blue;
  margin-top: 40px;
  padding-bottom: 30px;
  position: relative;
}

.log-in img {
  border-radius: 50%;
}
