<footer class="footer-unlonely">
  <div class="logo">
    <%= image_tag "unlonely.png", class: "avatar-large", alt: "dropdown menu" %>
    <h6> The world is a little less broken with you in it. </h6>
    <br>
  </div>
  <div class="socials">
    <h6> Need community? Get in touch </h6>
    <%= link_to "https://www.instagram.com/zuluscribe", target: "_blank", rel: "noopener noreferrer", class: "no-underline" do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
    <%= image_tag "pinterest icon.png", class: "pinterest" %>
  </div>
</footer>
